<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="searchElement">
        <form>
          <button class="searchElementBtn">geolocation</button>
          <input class="searchField"/>
          <button class="searchElementBtn">search</button>
        </form>
      </div>
    </header>

    <main>
      <section class="currentInfo">
        <div class="location">
          <p class="locationName">Name</p>
          <p class="locationCountry">Country</p>
        </div>

        <div class="temp">
          <h2 class="temp">Current Temp</h2>
          <p class="conditions">Current conditions</p>
        </div>

        <div class="minmax">
          <p class="maxTemp">Max Temp</p>
          <p class="minTemp">Max Temp</p>
          <p></p>
        </div>

        <div class="lastUpdated">
          <p>Last updated</p>
        </div>
      </section>

      <section class="forecasts">
        <div class="today">
          <canvas>Chart with today forecast</canvas>
        </div>
        <div class="upcoming">
          <div class="upcomingCard">
            <h3 class="title">Name (Day)</h3>
            <img class="conditions" />
            <div class="temp">
              <p>Temp</p>
              <p>Avg Temp</p>
              <p>Min Temp</p>
              <p>Max Temp</p>
            </div>
            <div class="wind">
              <p>Wind:</p>
              <p>MaxWind</p>
            </div>
            <div class="rain">
              <p>Rain:</p>
              <p>rain chance</p>
              <p>rain Total</p>
            </div>
            <div class="humidity">
              <p>Humidity:</p>
              <p>humidity</p>
            </div>
          </div>

          <div class="upcomingCard">
            <h3 class="title">Name (Day)</h3>
            <img class="conditions" />
            <div class="temp">
              <p>Temp</p>
              <p>Avg Temp</p>
              <p>Min Temp</p>
              <p>Max Temp</p>
            </div>
            <div class="wind">
              <p>Wind:</p>
              <p>MaxWind</p>
            </div>
            <div class="rain">
              <p>Rain:</p>
              <p>rain chance</p>
              <p>rain Total</p>
            </div>
            <div class="humidity">
              <p>Humidity:</p>
              <p>humidity</p>
            </div>
          </div>
          </div>
        </div>
      </section>

      <section class="detailsInfo">
        <div class="detail">
          <p>Name</p>
          <p>Value</p>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
