@font-face {
  font-family: 'SF-Pro-Rounded-Regular';
  src: url('./assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Rounded-Bold';
  src: url('./assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Rounded-Light';
  src: url('./assets/fonts/SF-Pro-Rounded-Light.otf') format('opentype');
}

:root {
  --font-normal: 'SF-Pro-Rounded-Regular';
  --font-bold: 'SF-Pro-Rounded-Bold';
  --font-light: 'SF-Pro-Rounded-Light';
}

html {
  font-family: 'SF-Pro-Rounded-Regular', Helvetica;
}

body {
  display: grid;
  grid-template-rows: 5rem repeat(3, auto) 5rem;
  height: 100vh;
}

section {
  width: 70%;
  background: #f0f0f042;
}

/** SEARCH ELEMENT */

.searchElement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#searchField {
  border-radius: 1rem;
  border: #b3b3b3 solid 1px;
  padding: 0.5rem 0.3rem;
  width: 15rem;
  text-align: center;
}

.searchBtn {
  padding: 0.55rem;

  border: #b3b3b3 solid 1px;
  border-radius: 100%;
}

/** SETTINGS  */
.settingsElement {
  grid-row-end: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsMenu {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 250%);

  display: grid;
  grid-template-rows: 5rem 8rem 4rem;
  justify-content: center;
  align-items: center;

  background-color: rgba(222, 222, 222, 0.513);
  border: #b3b3b3 solid 1px;
  border-radius: 0.5rem;
  padding: 2rem 4rem;

  transition: transform ease 1s;
}

#showSettingsBtn {
  align-self: center;
  justify-self: center;

  padding: 0.55rem;
  border-radius: 100%;
  border: #b3b3b3 solid 1px;
  grid-row-end: -1;
}

.showSettings {
  transform: translate(-50%, -50%);
}

.hideSettings {
  display: none;
}

.defaultLocationLabel {
  display: flex;
  flex-direction: column;

  font-size: 0.7rem;
  text-align: center;
}

#setDefaultLocation {
  align-self: center;

  width: 11rem;
  border-radius: 0.5rem;
  border: #b3b3b3 solid 1px;
  padding: 0.5rem 0.3rem;
  margin-top: 0.3rem;

  font-size: 0.9rem;
  text-align: center;
}

.selectUnits {
  align-self: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.unitBtn {
  width: 100%;
  padding: 0.5rem 0.3rem;

  background-color: #b3b3b3;
  border-radius: 0.5rem;
  border: #b3b3b3 solid 1px;

  font-size: 0.9rem;

  transition: background-color 1s;
}

.unitsActive {
  background-color: pink;
}

.unitsSplit {
  font-size: 0.7rem;
  margin: 0;
}

.saveSettingsBtn {
  justify-self: center;
  width: 8rem;
  padding: 0.5rem 0.25rem;

  background-color: rgb(123, 145, 255);
  border: #ffffff solid 1px;
  border-radius: 1rem;

  color: white;
}

/** CurrentInfo  */

.currentInfo {
  grid-row: 2;

  display: grid;
  grid-template-rows: 7rem 15rem 7rem 3rem;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.locationName {
  margin: 0;
  padding: 1rem;

  font-size: 1.8rem;
  letter-spacing: 1px;
}

.locationCountry {
  margin: 0;

  font-size: 0.8rem;
  font-family: var(--font-light);
  font-style: normal;
  letter-spacing: 1px;
}

.currentTemp {
  margin: 0;
  padding: 1rem;

  font-size: 5.9rem;
}

.currentCondition {
  margin: 0;

  font-size: 1.5rem;
}

.weatherCard {
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 5%;
  margin: auto;
  width: 55rem;
}

.minmax {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

.minmax > p {
  margin: 0;
}

.lastUpdatedDiv > p {
  margin: 0;
}

.lastUpdatedLabel {
  font-size: 0.5rem;
}

.lastUpdated {
  align-self: end;
  font-size: 0.8rem;
}

/* *Forecast  */
.forecasts {
  width: 70%;
}

.todayForecast {
  width: 100%;
}

.today {
  display: grid;
  grid-template-rows: 4rem 3rem 2.5rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}

.today > .currentTemp {
  align-self: center;
  grid-column: 1 / 3;

  margin: 0;

  font-size: 3.5rem;
  font-family: var(--font-bold);
}

.conditionsDesc {
  align-self: center;
  grid-column: 1 / 3;

  margin: 1rem;

  font-size: 1.2rem;
  font-family: var(--font-light);
}

.today > .highTemp {
  align-self: center;
  justify-self: end;

  padding-right: 1rem;
  margin: 0;

  font-family: var(--font-normal);
  font-size: 1rem;
}

.today > .lowTemp {
  align-self: center;
  justify-self: baseline;

  padding-left: 1rem;
  margin: 0;

  font-family: var(--font-normal);
  font-size: 1rem;
}

.forecast {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 0.5rem;
  align-items: center;
}

.hourForecast {
  overflow-y: scroll;
  gap: 1rem;
  padding: 0.5rem;
  display: flex;
}

.hourWeather > p {
  margin: 0;
}

.conditionsIcon {
  justify-self: center;
  margin: 0.5rem 0;
}

.daysForecast {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  padding: 0 0.5rem;
}

.hourWeather,
.dayWeather {
  display: grid;
  gap: 0.3rem;

  background-color: #ffffff3d;
  border: 1px solid lightgray;
  border-radius: 1rem;
  padding: 0.7rem;
  min-width: 5.5rem;

  text-align: center;
}

.nodeTitle {
  margin: 0;
}

.dayWeather > p {
  margin: 0.2rem;
  font-size: 0.9rem;
  text-align: left;
}

.detailsSection {
  display: grid;
  justify-content: space-evenly;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
}

/* Inline #2 | file:///Users/hidenny/CODE/TheOdinProject/repos/Weather-App/dist/index.html */

.detailCard {
  border: 1px solid;
  border-radius: 20px;
  padding: 1rem;
  width: 10rem;
  height: 10rem;
}

.detailCard.windCard {
  grid-row: 3;
  grid-column: 1/3;

  width: 15rem;
}

/* Inline #0 | file:///Users/hidenny/CODE/TheOdinProject/repos/Weather-App/dist/index.html */

.detailsSection {
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  align-self: center;
  justify-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
