.errorCard,
.weatherCard {
  height: calc(100vh - 5rem);
}

.weatherCard {
  overflow: scroll;
  height: calc(100vh - 5rem);
}

.errorCard {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
