.errorCard,
#skeletonCard .weatherCard {
  height: calc(100vh - 5rem);
}

.weatherCard {
  overflow: scroll;
  height: calc(100vh - 5rem);
}

.errorCard {
  margin: auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s ease-in-out infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    color: #9d9d9db2;
  }
  100% {
    color: #e4e4e49c;
  }
}
