.detailsInfo {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);

  justify-items: center;
  align-items: center;

  box-sizing: border-box;
  height: calc(50vh - 6rem);
  width: 80%;
  margin: 1rem auto 5rem;
  border: 1px solid #dbdbdb80;
  border-radius: 2rem;

  background-color: rgba(234, 234, 234, 0.7);
  backdrop-filter: saturate(180%) blur(0.7rem);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detailCard {
  box-sizing: border-box;
  width: 11rem;
  aspect-ratio: 1 / 1;
  padding: 1rem;

  border: 1px solid;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.22);
  border: solid #b3b3b31c 1px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.detailCard > p,
.detailCard > h4 {
  margin: 0;
}

.detailCard.windInfo {
  width: 90%;
  height: 11rem;
  grid-column: 3 / 5;
}

.detailCard.cloudsInfo {
  grid-column: 2;
  grid-row: 1;
}

