header {
  z-index: 88;
  position: fixed;
  top: 1.5rem;
  left: 10rem;
  right: 10rem;
  height: 5rem;
  min-width: 65rem;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 15% 85%;

  justify-items: center;
  align-items: center;
  border: solid #b3b3b31c 1px;
  border-radius: 5rem;

  background-color: rgba(234, 234, 234, 0.7);

  backdrop-filter: saturate(180%) blur(0.7rem);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

/* CLOCK */

.clockElement {
  grid-row: 1 / 3;
  grid-column: 1;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  gap: 0.2rem;
}

.clockElement > p {
  margin: 0;
}

.clockElement > .date {
  font-size: 1rem;
}

.clockElement > .time {
  font-size: 2rem;
}

/* SEARCH ELEMENT */

.searchElement {
  grid-column: 2;
  grid-row: 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}

.searchField {
  position: relative;

  border-radius: 1rem;
  border: #b3b3b3 solid 1px;
  padding: 0.3rem;
  width: 40%;
  min-width: 25rem;

  text-align: center;
  font-size: 1.4rem;

  background-color: #ffffff96;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.14) -3px -3px 6px 1px inset;
}

.searchBtn {
  height: 2.5rem;
  aspect-ratio: 1 / 1;

  background: none;
  border: 0;
  border-radius: 100%;

  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0);
}

.searchBtn:active {
  background-color: #8d8d8d;
}

.searchBtn:hover {
  background-color: #c5c5c5;
}

.geoLocationBtn {
  background-image: url('/src/view/assets/icons/geolocation/icons8-near-me-96.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.submitBtn {
  background-image: url('/src/view/assets/icons/search/icons8-search-96.png');
  background-repeat: no-repeat;
  background-size: contain;
}

/* SUGGESTIONS */
.suggestions-items {
  position: absolute;

  z-index: 99;
  top: 5rem;
  width: 25rem;
  margin: auto;

  border: solid #b3b3b31c 1px;
  border-top: none;
  border-radius: 0.5rem;

  background-color: rgba(234, 234, 234, 0.7);
  backdrop-filter: saturate(180%) blur(0.7rem);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: right ease-in-out 1s;
}

.suggestions-items p {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0;
}

.suggestions-items div:hover,
.suggestion-active {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ATTRIBUTION */
.attWeatherApi {
  align-self: end;

  color: lightgrey;
  font-size: 0.7rem;
}

.attWeatherApi > .content,
.attWeatherApi > a {
  margin: 0;
}
