header {
  z-index: 88;
  position: sticky;
  top: 1.5rem;
  left: 10rem;
  right: 10rem;

  height: 4rem;
  min-width: 55rem;
  max-width: 65rem;
  padding: 0.5rem;
  margin: auto;

  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 100%;

  justify-items: center;
  align-items: center;
  border: solid #b3b3b31c 1px;
  border-radius: 1.5rem;

  background-color: rgba(234, 234, 234, 0.7);

  backdrop-filter: saturate(180%) blur(0.7rem);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

/* CLOCK */

.clockElement {
  grid-row: 1;
  grid-column: 1;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  gap: 0.2rem;
}

.clockElement > p {
  margin: 0;
}

.clockElement > .date {
  font-size: 1rem;
  font-family: var(--font-light);
}

.clockElement > .time {
  font-size: 2rem;
}

/* SEARCH ELEMENT */

.searchElement {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1.5rem;
}

.searchField {
  position: relative;

  border-radius: 1rem;
  border: #b3b3b3 solid 1px;
  padding: 0.3rem;
  width: 40%;
  min-width: 25rem;

  text-align: center;
  font-size: 1.4rem;

  background-color: #ffffff96;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.14) -3px -3px 6px 1px inset;
}

.searchField::placeholder {
  color: #00000036;
}

.searchBtn {
  height: 2.5rem;
  aspect-ratio: 1 / 1;

  background: none;
  border: 0;
  border-radius: 100%;

  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0);

  cursor: pointer;
  transition: box-shadow 200ms ease-in, background-color 200ms ease;
}

.searchBtn:hover {
  box-shadow: rgba(255, 255, 255, 0.24) 0px -23px 25px 0px inset,
    rgba(255, 255, 255, 0.09) 0px -36px 30px 0px inset,
    rgba(255, 255, 255, 0.1) 0px -79px 40px 0px inset,
    rgba(255, 255, 255, 0.55) 0px 2px 1px, rgba(255, 255, 255, 0.09) 0px 4px 2px,
    rgba(155, 155, 155, 0.62) 0px 8px 4px, rgba(0, 0, 0, 0.13) 0px 16px 8px,
    rgba(0, 0, 0, 0.11) 0px 32px 16px;
}

.searchBtn:active {
  background-color: #0000002e;
}

.geoLocationBtn {
  background-image: url('/src/view/assets/icons/geolocation/icons8-near-me-96.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.submitBtn {
  background-image: url('/src/view/assets/icons/search/icons8-search-96.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

/* SUGGESTIONS */
.suggestions-items {
  position: absolute;

  z-index: 99;
  top: 3.8rem;
  width: 25rem;
  margin: auto;

  border: solid #b3b3b31c 1px;
  border-top: none;
  border-radius: 0.5rem;

  background-color: rgba(234, 234, 234, 0.7);
  backdrop-filter: saturate(180%) blur(0.7rem);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  transition: right ease-in-out 1s;
}

.suggestionElement {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0;
}

.suggestionElement:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.suggestions-items div:hover,
.suggestion-active {
  background-color: rgba(0, 0, 0, 0.1);
}

/* ATTRIBUTION */
.attWeatherApi {
  position: absolute;
  top: 0.3rem;
  left: 50%;
  transform: translateX(-50%);

  color: #ccc;
  font-size: 0.7rem;
  font-family: var(--font-light);
}

a {
  text-decoration: none;
}

a:visited {
  color: #a8caff;
}

.attWeatherApi > .content,
.attWeatherApi > a {
  margin: 0;
}
