@font-face {
  font-family: 'SF-Pro-Rounded-Regular';
  src: url('../assets/fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Rounded-Bold';
  src: url('../assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'SF-Pro-Rounded-Light';
  src: url('../assets/fonts/SF-Pro-Rounded-Light.otf') format('opentype');
}

:root {
  --font-normal: 'SF-Pro-Rounded-Regular';
  --font-bold: 'SF-Pro-Rounded-Bold';
  --font-light: 'SF-Pro-Rounded-Light';
  --backdrop: saturate(180%) blur(0.7rem);
  --default-background-color: rgba(234, 234, 234, 0.7);
  --default-border: solid #b3b3b31c 1px;
}

html {
  font-family: 'SF-Pro-Rounded-Regular', Helvetica;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;

  background-color: rgb(171, 183, 193);
  background-image: url('../assets/background/Intro-engin-akyurt-zlGobrmAuyE.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
