#skeletonCard {
  z-index: 10;
  height: calc(100vh - 5rem);

  opacity: 0.8;
  color: #fff0;

  border-radius: 1rem;
}

.skeleton {
  z-index: 10;
  background: #eee;
  background: linear-gradient(110deg, #e6e6e6 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: skeleton-loading 1s ease-in-out infinite;
}

@keyframes skeleton-loading {
  to {
    background-position-x: -200%;
  }
}

.locationName.skeleton {
  width: 10rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.locationCountry.skeleton {
  width: 10rem;
  border-radius: 0.5rem;
}

.currentTemp.skeleton {
  width: 10rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.currentCondition.skeleton {
  width: 10rem;
  border-radius: 0.5rem;
}

.tempMin.skeleton {
  border-radius: 0.5rem;
}

.minmax > p.skeleton {
  width: 4rem;
  border-radius: 0.5rem;
  height: 3rem;
}

.lastUpdated.skeletonCard {
  width: 15rem;
}

.lastUpdatedDiv > p.skeleton {
  border-radius: 0.5rem;
}

.lastUpdatedLabel.skeleton {
  width: 8rem;
}

.lastUpdated.skeleton {
  width: 10rem;
}
