.weatherCard {
  overflow: scroll;
  height: calc(100vh - 5rem);
  animation: fadeIn 1s ease-in;
}

.scrollBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;

  width: 3rem;

  aspect-ratio: 1/1;
  border: 0;
  border-radius: 100%;
  background: transparent;
  color: whitesmoke;

  background-image: url('../assets/icons/moveDown/icons8-down-96.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: transform 500ms ease-in-out, width 500ms ease;

  cursor: pointer;
}

.scrollBtn:hover {
  width: 3.5rem;
}

.rotateUp {
  transform: rotate(0.5turn);
}

.hint {
  animation: scrollHint 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrollHint {
  0% {
    transform: translate(0rem, 0rem);
  }

  20% {
    transform: translate(0rem, -1.5rem);
  }

  70% {
    transform: translate(0rem, 0.5rem);
  }

  100% {
    transform: translate(0rem, 0rem);
  }
}
